<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
        {% block head %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {% endblock %}
    </head>

    <nav class="navbar navbar-full navbar-light bg-faded">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">yAbe</a>
            </div>
            <div id="main-navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
	 <!-- Make this a block instead of using if statement   
                {% if username %}
		    
		    <li><a href = "/upload">Buy</a></li>
                    <li><a href="/logout">Logout</a></li>
		{% elif upload %}
		    
                {% else %}
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                {% endif %}
	  -->
		    {% block navbar %}
		    {% endblock %}
                </ul>
            </div>
        </div>
    </nav>

    <body>
        <div class="container">
            {% if message %}
            <div class="row">
                <div class="col-md-6">
                    <div class="alert alert-{{category}}">
                      {{message}}
		      <a href="/register">{{add_mess}}</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% block body %}
	    
            {% endblock %}
        </div>
    </body>
</html>
