{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Bid</title>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block body %}
<h4>Current bid: ${{lowestBidInfo["price"]}}</h4>

<h3><u>All bids</u></h3>
<div id="updatingElement">
{% for bid in allBids %}
	<p>${{bid["price"]}} - {{bid["bidder"]}}</p>
{% endfor %}
</div>
<form action="/post/{{postId}}" method="POST">
  <div class="row">
    <div class="col-md-3">
      <input id="updatingElement" type="number" name="amt" placeholder="100" min=1 max={{lowestBid-1}} required></input>
    </div>
    <div class="col-md-3">
      <input type="submit" name="Submit"></input>
    </div>
  </div>
</form>
<script src="../static/js/bidajax.js"></script>
{% endblock %}
