{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Caindid Images</title>
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block body %}
<div class="card-columns">
  {% for post in posts %}
  <div class="card" style="width: 20rem;">
    <div class="card-block">
      <h5 class="card-title"><a class="card-link" href="/post/{{post['postId'] }}">{{post["title"]}}</a></h5>
      <p>Posted by: <a class="card-link" href="/user/{{post['owner']}}">{{post["owner"]}}</a></p>
      <p>Max price: ${{post['startingPrice']}}</p>
      <p>Time left: {{post['period']}}</p>
      {% if post['active'] == 0 %}
      <a href="/bid/{{post['postId']}}" class="btn btn-primary">Make a Bid</a>
      {% elif post['active'] == 1 %}
      <a href="#" class="btn btn-success">SOLD</a>
      {% else %}
      <a href="#" class="btn btn-warning">ENDED</a>
      {% endif %}
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
 
