{% extends "base.html" %}

{% block head %}
<script src="/static/js/lazyload.js"></script>
<title>Caindid Images</title>
{% endblock %}

{% block navbar %}
{% if username %}
<li><a class="nav-item nav-link" href = "/profile"> Profile </a></li>
<li><a class="nav-item nav-link" href = "/upload"> Upload </a></li>
<li><a class="nav-item nav-link" href = "/logout"> Logout </a></li>


{% else %}
<li><a class="nav-item nav-link" href="/register">Register</a></li>
<li><a class="nav-item nav-link" href="/login">Login</a></li>
{% endif %}
{% endblock %}

{% block body %}

<div class="container">
  {% set i = 0 %}
  {% for image in images %}
  <div class="row">
  <div class="col-sm-4">
  <h4>{{ image[1] }}</h4>
	<a href="{{ url_for('static', filename = 'images' + image[0])}}" data-lightbox="image" data-title="{{tagStrings[i]}}">
	{% set i = i + 1 %}
	  <img class="index lazy" src="/static/js/ajax-loader.gif" data-original="{{ url_for('static', filename = 'images' + image[0]) }}" width="300" height="300"></img></a>
	<br>
	posted by {{ image[2] }} <br><br><br><br>
  </div>
  <div class="col-sm-4 offset-sm-4">
    <br><br>
    <iframe
  width="400"
  height="300"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDUPAj0czfKLMWzZyO0brrORVvi4YH1f30&q={{ image[3] }},{{ image[4] }}">
</iframe>
  </div>
  </div>

    {% endfor %}
  
</div>


<script type="text/javascript" charset="utf-8">
  $(function() {
     $("img.lazy").lazyload({
         effect : "fadeIn"
     });

  });
  </script>
{% endblock %}
 
