{% extends "base.html" %}

{% block head %}
{{ super() }}
<!--<script src="/static/js/lazyload.js"></script>-->
{% endblock %}

{% block navbar %}
{{ super() }}
{% endblock %}

{% block body %}

<h4>Welcome to Yabe</h4>
<p>Yabe is a platform that is similar to Ebay, but different in one key way: the buyers post what they want instead of the sellers posting what they have, and the sellers make lower and lower bids instead of the buyers making higher and higher bids.</p>
<a href="/login" class="btn btn-primary">Login</a>
<a href="/register" class="btn btn-secondary">Register</a>

{% endblock %}
 
