{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Post</title>
<style>
.tooltip-wide .tooltip{
    min-width:400px;
}
</style>
{% endblock %}

{% block navbar %}
<li><a href = "/profile"> Profile </a></li>
<li><a href = "/buy"> Buy </a></li>
<li><a href = "/logout"> Logout </a></li>
{% endblock %}

{% block body %}

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    container:'body'
});
</script>

<h1>{{title}}</h1>
<div class="row">
	<div class="col-md-6">
		<hr>
		<p>By: <a href="/user/{{username}}">{{username}}</a></p>
		<br>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<hr>
		<p>Max price: ${{startingPrice}}</p>
		<br>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<hr>
		<p>Time left: {{period}}</p>
		<br>
	</div>
</div>
<br>
{% endblock %}
