{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Profile</title>
{% endblock %}

{% block navhead %}
<script src="/static/js/lazyload.js"></script>
{% endblock %}

{% block navbar %}
<li><a class="nav-item nav-link" href = "/"> Back </a><li>
<li><a class="nav-item nav-link" href = "/buy"> Buy </a></li>
<li><a class="nav-item nav-link" href = "/logout"> Logout </a></li>
{% endblock %}

{% block body %}
<center>
<h1> Profile </h1>
<br>
<h5> Hello, {{user_info.username}}! </h5>
</center>

{% if not filled_out %}

<p>You have missing information! Please fill this out before continuing.</p>

<form action="/profile" method="POST">
    <div class="row">
        <div class="col-md-6 tooltip-wide">
            <p><span class="label label-default">First name</span><input class="form-control" type="text" name="fname" placeholder="John" required></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 tooltip-wide">
            <p><span class="label label-default">Last name</span><input class="form-control" type="text" name="lname" placeholder="Smith" required></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 tooltip-wide">
            <p><span class="label label-default">Email</span><input class="form-control" type="email" name="email" placeholder="johnsmith@mail.com" required></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 tooltip-wide">
            <p><span class="label label-default">Confirm email</span><input class="form-control" type="email" name="emailconf" placeholder="johnsmith@mail.com" required></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 tooltip-wide">
            <p><span class="label label-default">Address line 1</span><input class="form-control" type="text" name="addr1" placeholder="1 Central Park West" required></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 tooltip-wide">
            <p><span class="label label-default">Address line 2</span><input class="form-control" type="text" name="addr2" placeholder="#32C" required></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 tooltip-wide">
            <p><span class="label label-default">City</span><input class="form-control" type="password" name="city" placeholder="New York" required></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 tooltip-wide">
            <p><span class="label label-default">State</span><input class="form-control" type="password" name="state" placeholder="NY" required></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 tooltip-wide">
            <p><span class="label label-default">Zip code</span><input class="form-control" type="password" name="zip" placeholder="10023" required></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 tooltip-wide">
            <p><span class="label label-default">Phone number</span><input class="form-control" type="password" name="phone" placeholder="9177568000" required></p>
        </div>
    </div>
    <br>
	<input class="btn btn-primary" type="submit" name="Submit">
</form>

{% endif %}

{% endblock %}
